:root {
  -font-family: -apple-system;
}
* {
  box-sizing: border-box;
}

body {
  margin: 2px;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: #64CCC5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
/*header styling */

a:link{
  color: #EEEEEE;
}
a:hover{
  color: #64CCC5;
}
a:active{
  color: #40c78c;
}
a:visited{
  color: #EEEEEE;
}
a {
  text-decoration: none;
  font-weight: bold;
}
.header {
  padding: 15px;
  font-family: var(-font-family);
  background-color: #053B50;
}
.header h1 {
  font-size: 25px;
  color: #EEEEEE;
  display: inline-block;
}
.header nav {
  float: right;
  font-family:var(-font-family);
  margin-right: 20px;
}
.header ul li {
  display: inline;
  padding-left: 10px;
  font-size: 25px;
  color:#EEEEEE;
}
.titleName {
  font-size: 25px;
  background-color: #64CCC5;
}
.nav-bar {
  height: 15px;
  display: flex;
  color: #176B87;
  justify-content: space-between;
  align-content: stretch;
}
/*hero banner*/
#herobanner{
  width: 100%;
  height: 350px
}

/*about me*/
.aboutMeGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
.aboutMeText {
  font-size: 20px;
  text-align: right;
  display: inline;
  color: #053B50;
}
.page-wrapper {
  display: grid;
  justify-content: space-evenly;
}
.title{
  color: #053B50;
}
/*projects section*/
.projectSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
.projectsContainer {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
  padding: 10px;
}
#projectImg {
  width: 150px;
  height: 150px;
}
.text-block {
  position: relative;
  bottom: 20px;
  right: 20px;
  width: 220px;
  background-color: aqua;
  color: rgb(48, 48, 56);
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
}
/*contact section*/
.endNavBar {
  display: inline-block;
  float: right;
  padding-left: 10px;
  font-size: 25px;
  color:#EEEEEE;
}
